$compile_ocean{?} = preprocess-ocean build-ocean

step.class[preprocess-ocean] = preprocess
step.class[build-ocean]      = build
$steplist{?} = $extract $compile_ocean

steps = $steplist

$ROSE_TASK_MIRROR_TARGET{?} = unset
mirror.target = ${ROSE_TASK_MIRROR_TARGET}
$mirror_steplist = $compile_ocean
mirror.prop{config-file.steps} = $mirror_steplist

$nemo_namelist_ref{?} =
$nemo_field_def{?} =
$nemo_domain_def{?} =
$nemo_namelist_ref_rename{?} = 
$nemo_field_def_rename{?} = 
$nemo_domain_def_rename{?} =
$nemo_path_excl{?} = 
$ioipsl_project_location{?} = 
$ioipsl_base{?} = 
$ioipsl_rev{?} = 
$ioipsl_path_excl{?} = 
$ioipsl_path_incl{?} = 
$ioipsl_sources{?} = 

$nemo_version_file{?} = 
include = nemo.cfg
include = $nemo_version_file
$use_medusa{?} =

# A separate ioipsl namespace is only required if we are using NEMO 4.
# But include generally. For NEMO 3.6 builds the ioipsl variables will
# be empty and shouldn't break anything.
extract.ns = nemo ioipsl $use_medusa
extract.location{primary}[nemo] = $nemo_project_location
extract.location[nemo] = $nemo_base$nemo_rev
extract.path-excl[nemo] = / $nemo_path_excl
extract.path-incl[nemo] = $nemo_path_incl
extract.location{primary}[ioipsl] = $ioipsl_project_location
extract.location[ioipsl] = $ioipsl_base$ioipsl_rev
extract.path-excl[ioipsl] = / $ioipsl_path_excl
extract.path-incl[ioipsl] = $ioipsl_path_incl

include = inc_base_$use_medusa.cfg

$OCEAN_EXEC{?} = nemo.exe

$fcflags_nemo_overrides{?} =

$fcflags_nemo_all = $fcflags_nemo_common \
                  \ $fcflags_nemo_version \
                  \ $fcflags_coupling    \
                  \ $fcflags_level       \
                  \ $fcflags_omp         \
                  \ $fcflags_nemo_overrides

# In the UM an extra variable $nodep_options is added to $external modules,
# which is why $nodep_f_module isn't set directly. We do the same here for
# consistency and to allow for future expansion.
$external_modules{?} =
$nodep_f_module = $external_modules

# Preprocess and build declarations
preprocess.prop{class,cpp} = $cpp
preprocess.prop{class,fpp} = $fpp
build.prop{class,cc} = $cc
build.prop{class,fc} = $fc

$keys_nemo_app{?} =
$keys_ocean_pass_trc_app{?} =
$keys_nemo{?} = $keys_nemo_platform $keys_nemo_app $keys_ocean_pass_trc_app
preprocess-ocean.prop{cpp.defs,fpp.defs} = $keys_nemo
preprocess-ocean.prop{file-ext.h} = .h90

build-ocean.target = $OCEAN_EXEC $nemo_namelist_ref $nemo_field_def $nemo_domain_def
build-ocean.target-rename = $ocean_program.exe:$OCEAN_EXEC $nemo_namelist_ref_rename $nemo_field_def_rename $nemo_domain_def_rename
build-ocean.prop{no-dep.f.module} = $ocean_no_dep_module $nodep_f_module
build-ocean.prop{no-dep.include} = mpif.h
build-ocean.prop{fc.flags} = $fcflags_nemo_all

extract.location{diff}[nemo] = $nemo_sources
extract.location{diff}[ioipsl] = $ioipsl_sources
