include-path = $HERE/inc $HERE/../inc

$extract{?} = extract
$mirror{?} = mirror
$steplist{?} = $extract $mirror

# Changing for the coarsening code - marc 11/12/25
#$fcflags_level = -O2 -Ovector1 -hfp0 -hflex_mp=intolerant
$fcflags_level = -O2 -e0 -ez -N 1023

include = nemo-common.cfg

